.card{
    width: 300px;
    background-color: #3D7DCA;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left:50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: Helvetica;
}

.name{
    color: #F7C505;
    margin-right: 15px;
}

.header{
    color: #00386C;
    font-family: Helvetica;
    margin-left: 50px;
}

.searchbar{
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 1rem;
    background-color: #A3B2C2;
    border-color: #A3B2C2;
}

.showMore{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    background-color: #3D7DCA;
    box-sizing: border-box;
    font-family: Helvetica;
    border-radius: 1rem;
    color: #F7C505;
}